<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>code generator online</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>

    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
<div>
    <!-- START 导航条 -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Code Generator</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="modal" data-target="#connectModal">连接配置</a></li>
                    <li><a href="#">规则配置</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END -->
    <!-- START 配置数据库模态窗 -->
    <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="connectModalLabel">
                        配置数据库连接（请使用公网地址，目前仅支持mysql）
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="connectForm" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="host">host:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="host" id="host"
                                       placeholder="public host like rds" value="localhost">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="port">host:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="port" id="port"
                                       placeholder="public host like rds">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="username">username:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="user for db" value="root">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="password">password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="user password" value="cmx123">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="database">database:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="database" id="database"
                                       placeholder="connect database" value="cmx">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getConnection()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END modal -->
    <!-- START table content -->
    <div class="table_content">
    </div>
    <!-- END table content -->
</div>
</body>
<script>

    function getConnection() {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/connect/getTables",
            data: {
                "host": $("#host").val(), "userName": $("#username").val(),
                "password": $("#password").val(), "database": $("#database").val(), "port": $("#port").val()
            },
            success: function (data) {
                if (data.data) {
                    $(".table_content").empty();
                    data.data.map(function (table) {
                        var table = $("<div class='col-lg-2 margin_top_15'>" +
                            "<div class='mysql_table'><div class='table_context'>" + table.tableName + "</div></div>"
                            + "</div>");
                        $(".table_content").append(table);
                    });
                } else {
                    console.log(data.message);
                }
            },
            error: function (err) {
                console.log(err);
                alert("出错了");
            }
        });
    }

</script>
</html>