<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>code generator online</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>

    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
<div>
    <!-- START 导航条 -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Code Generator</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#" data-toggle="modal" data-target="#connectModal">连接配置</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#configModal">规则配置</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END -->
    <!-- START 配置数据库模态窗 -->
    <div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="connectModalLabel">
                        配置数据库连接（请使用公网地址，目前仅支持mysql）
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="connectForm" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="host">host:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="host" id="host"
                                       placeholder="public host like rds" value="localhost">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="port">port:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="port" id="port"
                                       placeholder="url port" value="3306">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="username">username:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="user for db" value="root">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="password">password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="user password" value="cmx123">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="database">database:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="database" id="database"
                                       placeholder="connect database" value="cmx">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getConnection()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END modal -->

    <!-- START config modal -->
    <div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="configModalLabel">
                        设置基本配置
                    </h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="configForm" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="basePackageName">包名:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="basePackageName" id="basePackageName"
                                       value="com.code.generator">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="daoSuffix">dao后缀:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="daoSuffix" id="daoSuffix" value="Mapper">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="lombokEnable">启用lombok:</label>
                            <div class="col-sm-10">
                                <label id="lombokEnable">
                                    <input type="radio" name="lombokEnable" value="true" checked="checked">是&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" name="lombokEnable" value="false">否
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="configCache()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END config modal -->

    <!-- START table content -->
    <div class="table_content">
    </div>
    <!-- END table content -->
    <button type="button" class="btn btn-primary" id="btn_package">
        <a href="/code/all?types=bean,dao,mapper">打包</a>
    </button>
</div>
</body>
<script>
    $(function () {
        var data = localStorage.getItem("tableList");
        if (data) {
            drawTableList(JSON.parse(data));
        }
    });

    function configCache() {
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/config/cache",
            data: JSON.stringify({
                basePackageName: $("#basePackageName").val(), daoSuffix: $("#daoSuffix").val(),
                lombokEnable: $("[name='lombokEnable']:checked").val()
            }),
            success: function (data) {
                if (data.data) {
                    console.log("success config cache");
                } else {
                    alert(data.message);
                }
            },
            error: function (err) {
                console.log(err);
                alert("出错了");
            }
        });
    }

    function getConnection() {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/connect/getTables",
            data: {
                "host": $("#host").val(), "userName": $("#username").val(),
                "password": $("#password").val(), "database": $("#database").val(), "port": $("#port").val()
            },
            success: function (data) {
                if (data.data) {
                    drawTableList(data.data);
                    $("#btn_package").css("display", "block");
                    localStorage.setItem("tableList", JSON.stringify(data.data));
                } else {
                    alert(data.message);
                }
            },
            error: function (err) {
                console.log(err);
                alert("出错了");
            }
        });
    }

    function drawTableList(data) {
        $(".table_content").empty();
        data.map(function (table) {
            var table = $("<div class='col-lg-2 margin_top_15'>" +
                "<div class='mysql_table' onclick='clickTable(\"" + table.tableName + "\")'><div class='table_context'>" + table.tableName + "</div></div>"
                + "</div>");
            $(".table_content").append(table);
        });
    }

    function clickTable(tableName) {
        var url = "/pages/tableDetail?tableName=" + tableName;
        window.location = url;
    }

</script>
</html>