.mysql_table {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    margin: 0 auto;
    border: 1px solid black;
    background: linear-gradient(#ffffff, #e58607);
    background: -webkit-linear-gradient(#ffffff, #e58607);
    cursor: pointer;
    border-radius: 5px;
}

.table_context {
    font-size: 12px;
    width: 100%;
    margin-top: calc(50% - 6px);
    text-align: center;
}


.margin_top_15 {
    margin-top: 15px;
}