.mysql_table {
    width: 90%;
    height: 0px;
    padding-bottom: 90%;
    margin: 0px auto;
    border: 1px solid black;
}

.table_context {
    font-size: 12px;
    width: 100%;
    margin-top: calc(50% - 6px);
    text-align: center;
}


.margin_top_15 {
    margin-top: 15px;
}